.status{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 30px;
    text-align: center;
    left: 25%;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
    text-transform: uppercase;
    text-shadow: black;
    text-decoration: none;
    background:linear-gradient(black,grey);
    color: white;
}

#navbarSupportedContent ul li a{
    padding-left: 40px;
    color: white;
    font-size: 20px;
}

.dropdown-item{
    color: black;
}

.card-deck{
    margin-top: 30px;
}

.card img{
    width: 300px;
    height: 300px;
    margin-left: 7%;
}

.card-body{
    text-align: center;
}
.about{
    margin-top: 30px;
    text-align: center;
    box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
}

.about h5{
    font-size: 25px;
}

.card{
    box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
}

.card-footer button{
    width: 100%;
    height: 100%;
}

.footer{
    background-color: black;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.description{
    margin-top: 30px;
    color: #818182;
    text-align: center;
}

.contacts-media{
    margin-left: 88%;
}

.contacts-media img{
    padding-left: 20px;
    width: 45px;
}

.media-contacts h5{
    margin-left: 10%;
    color: #818182;
}

.Tele{
    margin-left: 45%;
    margin-top: -5%;
    color: #818182;
}

.autority{
    color: #818182;
    text-align: center;
    margin-top: 70px;
}

.Quick-Links{
    margin-left: 70%;
    margin-top: -10%;
    text-decoration: none;
}

.Quick-Links ul li a{
    text-decoration: none;
    color: #818182;
}

.Quick-Links ul li a:hover{
    color: white;
}