<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center; font-family: 'Century Schoolbook L', cursive;">Our Items</h1>
    <p class="lead" style="text-align: center; font-family: 'Old Standard TT', serif">You can Select your own choice. We will help you to choose them as you wish.</p>
  </div>
</div>

<div id="ItemPage">
  <div class="container">

    <div class="card text-center">
      <div class="card-header">
        <h5>About Our Items</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut blanditiis corporis eligendi excepturi fugit labore molestiae placeat possimus quibusdam quo sequi sit ut! Alias cumque fuga in nostrum quos.</p></h5>
        <p class="card-text">You are allowed to go to Services By clicking below Button...</p>
        <a href="#" class="btn btn-primary" routerLink="/all-items">View Our Items</a>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
        <h5>Item-Info</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <form>
              <div class="row">
                <div class="col">
                  <input type="email" id="itemCode" class="form-control" placeholder="Item Code" name="itemCode" [(ngModel)]="itemCode">
                </div>
                <div class="col">
                  <input type="email" id="itemName"  class="form-control" placeholder="Item Name" name="itemName" [(ngModel)]="itemName">
                </div>
              </div>
            </form>
          </div>
          <div class="form-group">
            <label>Item Description</label>
            <textarea class="form-control" id="description" rows="3" name="description" [(ngModel)]="description"></textarea>
          </div>
          <div class="form-group">
            <form>
              <div class="row">
                <div class="col">
                  <input type="email" id="unitPrice" class="form-control" placeholder="Unit Price" name="unitPrice" [(ngModel)]="unitPrice">
                </div>
                <div class="col">
                  <input type="email" id="qty" class="form-control" placeholder="Qty" name="qty" [(ngModel)]="qty">
                </div>
              </div>
            </form>
          </div>
          <div class="form-group">
            <form>
              <div class="form-group">
                <label for="emailAddress">Seller's Email address</label>
                <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com" name="sellerEmail" [(ngModel)]="sellerEmail">
              </div>
            </form>
          </div>
          <div>
            <button type="button" id="btnSaveItem" (click)="saveItem()" class="btn btn-success">Save Item</button>
            <button style="margin-left: 2%" type="button" id="btnUpdate" class="btn btn-primary">Update Item</button>
            <button style="margin-left: 2%" type="button" id="btnDelete" class="btn btn-danger">Delete Item</button>
            <button style="margin-left: 2%" type="button" id="btnClear" class="btn btn-secondary">Clear Info</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
