<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center; font-family: 'Century Schoolbook L', cursive;">Online Shopping Store</h1>
    <p class="lead" style="text-align: center; font-family: 'Old Standard TT', serif">You can Select your own choice. We will help you to choose them as you wish.</p>
  </div>
</div>

<div class="container">

  <div class="card text-center">
    <div class="card-header">
      <h5>About Us</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut blanditiis corporis eligendi excepturi fugit labore molestiae placeat possimus quibusdam quo sequi sit ut! Alias cumque fuga in nostrum quos.</p></h5>
      <p class="card-text">You are allowed to go to Services By clicking below Button...</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./../../assets/Customers.gif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">About Customers</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-dark" routerLink="/customer">>>>Next>>></button></small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./../../assets/Orders.gif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">About Orders</h5>
        <p class="card-text ">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-dark" routerLink="/order">>>>Next>>></button></small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./../../assets/Items2.gif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">About Items</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-dark" routerLink="/item">>>>Next>>></button></small>
      </div>
    </div>
  </div>
</div>






