<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center; font-family: 'Century Schoolbook L', cursive;">Our Current Customers</h1>
    <p class="lead" style="text-align: center; font-family: 'Old Standard TT', serif">You can Select your own choice. We will help you to choose them as you wish.</p>
  </div>
</div>

<div>
  <table id="customerTable" class="table table-bordered table table-hover" style="margin-top: 20px">
    <thead>
    <tr>
      <th scope="col">Customer ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
      <th scope="col">Tele(Home)</th>
      <th scope="col">Tele(Mobile)</th>
      <th scope="col">E-mail</th>
    </tr>
    </thead>
    <tbody id="tblBody">
    <tr *ngFor="let cus of customers;">
      <td>{{cus.customerId}}</td>
      <td>{{cus.firstName}}</td>
      <td>{{cus.lastName}}</td>
      <td>{{cus.address}}</td>
      <td>{{cus.teleHome}}</td>
      <td>{{cus.teleMobile}}</td>
      <td>{{cus.email}}</td>
    </tr>
    </tbody>
  </table>

</div>
