<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center; font-family: 'Century Schoolbook L', cursive;">Our Customers</h1>
    <p class="lead" style="text-align: center; font-family: 'Old Standard TT', serif">You can Select your own choice. We will help you to choose them as you wish.</p>
  </div>
</div>

<div id="CustomerPage">

  <div class="container">

    <div class="card text-center">
      <div class="card-header">
        <h5>About Our Customers</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut blanditiis corporis eligendi excepturi fugit labore molestiae placeat possimus quibusdam quo sequi sit ut! Alias cumque fuga in nostrum quos.</p></h5>
        <p class="card-text">You are allowed to go to Services By clicking below Button...</p>
        <a href="#" class="btn btn-primary" routerLink="/all-customers">View Our Customers</a>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
        <h5>Customer-Info</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <form>
              <div class="row">
                <div class="col">
                  <input type="email" id="customerID" class="form-control" placeholder="Customer ID" name="customerId" [(ngModel)]="customerId">
                </div>
                <div class="col">
                  <input type="email" id="firstName" class="form-control" placeholder="First name" name="firstName" [(ngModel)]="firstName">
                </div>
                <div class="col">
                  <input type="email" id="lastName" class="form-control" placeholder="Last name" name="lastName" [(ngModel)]="lastName">
                </div>
              </div>
            </form>
          </div>
          <div class="form-group">
            <label>Permenant Address</label>
            <textarea class="form-control" id="address" rows="3" name="address" [(ngModel)]="address"></textarea>
          </div>
          <div class="form-group">
            <form>
              <div class="row">
                <div class="col">
                  <input type="email" id="teleHome" class="form-control" placeholder="Tel(Home)" name="teleHome" [(ngModel)]="teleHome">
                </div>
                <div class="col">
                  <input type="email" id="teleMobile" class="form-control" placeholder="Tel(Mobile)" name="teleMobile" [(ngModel)]="teleMobile">
                </div>
              </div>
            </form>
          </div>
          <div class="form-group">
            <form>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" [(ngModel)]="email">
              </div>
            </form>
          </div>
          <div>
            <button type="button" id="btnSave" (click)="saveCustomer()" class="btn btn-success">Save Customer</button>
            <button style="margin-left: 2%" type="button" id="btnUpdate" class="btn btn-primary">Update Customer</button>
            <button style="margin-left: 2%" type="button" id="btnDelete" class="btn btn-danger">Delete Customer</button>
            <button style="margin-left: 2%" type="button" id="btnClear" class="btn btn-secondary">Clear Info</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
