<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center; font-family: 'Century Schoolbook L', cursive;">Make Orders</h1>
    <p class="lead" style="text-align: center; font-family: 'Old Standard TT', serif">You can Select your own choice. We will help you to choose them as you wish.</p>
  </div>
</div>

<div id="CustomerPage">

  <div class="container">

    <div class="card text-center">
      <div class="card-header">
        <h5>About Making Orders</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut blanditiis corporis eligendi excepturi fugit labore molestiae placeat possimus quibusdam quo sequi sit ut! Alias cumque fuga in nostrum quos.</p></h5>
        <p class="card-text">You are allowed to go to Services By clicking below Button...</p>
        <!--<a href="#" class="btn btn-primary">View Our Customers</a>-->
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
        <h5>Place Order Form</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <form>
              <div class="row">
                <div class="col">
                  <input type="text" id="orderID" class="form-control" placeholder="Order ID" name="orderId" [(ngModel)]="orderId">
                </div>
                <div class="col">
                  <input type="text" id="customerID" class="form-control" placeholder="Customer ID" name="customerId" [(ngModel)]="customerId">
                </div>
                <div class="col">
                  <input type="text" id="itemCode" class="form-control" placeholder="Item Code" name="itemCode" [(ngModel)]="itemCode">
                </div>
                <div class="col">
                  <input type="text" id="orderQty" class="form-control" placeholder="Order Qty" name="orderQty" [(ngModel)]="orderQty">
                </div>
              </div>
            </form>
          </div>
          <div class="form-group">
            <label>Order Summary</label>
            <textarea class="form-control" id="orderSummary" rows="3" name="orderSummary"></textarea>
          </div>
          <div class="form-group">
            <form>
              <div class="row">
                <div class="col">
                  <input type="text" id="discount" class="form-control" placeholder="Discount" name="discount">
                </div>
                <div class="col">
                  <input type="email" id="Amount" class="form-control" placeholder="Amount" name="amount" [(ngModel)]="amount">
                </div>
              </div>
            </form>
          </div>
          <div>
            <button type="button" id="btnSave" (click)="saveOrder()" class="btn btn-success">Save Order</button>
            <button style="margin-left: 2%" type="button" id="btnUpdate" class="btn btn-primary">Update Order</button>
            <button style="margin-left: 2%" type="button" id="btnDelete" class="btn btn-danger">Delete Order</button>
            <button style="margin-left: 2%" type="button" id="btnClear" class="btn btn-secondary">Clear Info</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
