.about{
    margin-top: 30px;
    text-align: center;
    box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
}

.about h5{
    font-size: 25px;
}

.card,.card2{
    box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
}
