<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center; font-family: 'Century Schoolbook L', cursive;">Our Existing Items</h1>
    <p class="lead" style="text-align: center; font-family: 'Old Standard TT', serif">You can Select your own choice. We will help you to choose them as you wish.</p>
  </div>
</div>

<div>
  <table class="table table-bordered table table-hover" style="margin-top: 20px">
    <thead>
    <tr>
      <th scope="col">Item Code</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Description</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Qty</th>
      <th scope="col">Seller's Email</th>
    </tr>
    </thead>
    <tbody id="tblBodyItem">
      <tr *nfFor="let item of items;">
        <td>{{item.itemCode}}</td>
        <td>{{item.itemCode}}</td>
        <td>{{item.description}}</td>
        <td>{{item.unitPrice}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.sellerEmail}}</td>
      </tr>
    </tbody>
  </table>
</div>
