<div class="login-form" style="margin-top: 10%">
  <form>
    <h2 class="text-center">Register</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" name="username" required="required" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" name="password" required="required" [(ngModel)]="password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" required="required" [(ngModel)]="confirmPassword">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" (click)="registerUser()">Register</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
      <a href="#" class="pull-right">Forgot Password?</a>
    </div>
  </form>
</div>
