<nav style="position: fixed; left: 0; top: 0; width: 100%; opacity: 0.9" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="font-family: 'Bitstream Vera Serif'" routerLink="/home">Online Stores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-style: oblique" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-style: oblique" routerLink="/customer">Our Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-style: oblique" routerLink="/item">Our Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-style: oblique" routerLink="/order">Make Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-style: oblique">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!--<a class="nav-link" style="color: black; font-style: oblique" href="#" routerLink="/login">Sign In</a>-->
      <a class="nav-link" style="color: black; font-style: oblique" href="#" routerLink="/register">Register</a>
    </form>
  </div>
</nav>
