<div class="login-form" style="margin-top: 10%">
  <form>
    <h2 class="text-center">Log in</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" name="username" required="required" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" name="password" required="required" [(ngModel)]="password">
    </div>
    <div class="form-group">
      <button type="submit" (click)="login()" class="btn btn-primary btn-block">Log in</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
      <a href="#" class="pull-right">Forgot Password?</a>
    </div>
  </form>
  <p class="text-center"><a href="#">Create an Account</a></p>
</div>
